body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  color: #38bdf8;
}

.buttons a {
  margin: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
